@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  
}

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: #113CFC;
  
}

.morse__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  // border: solid #ffff 3px;
  // border-radius:20px;
  // width: 97%;
  // margin: auto;
  // margin-top: 40px;

}