
.header {
  color: #ffff;
  font-size: 80px;
  text-align: center;
  margin: auto;
  border: solid 5px #ffff;
  border-radius: 20px;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
  
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .input__header {
    
    color: #ffff;
    font-size: 50px;
    border: solid 5px #ffff;
    border-radius: 20px;
    margin: 50px auto 25px auto;
    padding: 10px;
    width: 700px;
    text-align: center;

  }

  .input__value {
    background-color: #ffff;
    height: 100px;
    width: 700px;
    border-radius: 20px;
    border: solid #ffff 5px;
    text-align: justify;
    font-size: 40px;
    color: black;
    padding: 20px;
    overflow-wrap: break-word;
  }
}

.output__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;

 .output__header {
  color: #ffff;
  font-size: 50px;
  border: solid 5px #ffff;
  border-radius: 20px;
  margin: 50px auto 25px auto;
  padding: 10px;
  width: 700px;
  text-align: center;


 }


.output__value {
  background-color: #ffff;
  height: 300px;
  width: 700px;
  border-radius: 20px;
  border: solid #ffff 5px;
  font-size: 40px;
  color: black;
  padding: 20px;
  overflow-wrap: break-word;
  
}

}

.translate__button {
margin-top: 180x;
color: black;
background-color: #FCD111;
cursor: pointer;
font-size: 50px;
border-radius: 20px;
border: solid #FCD111;
height: 180px;
width: 400px;
}

.translate__button:hover {
  background-color: #D7B003;
}

.outro__signature {
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;

}

.outro__icon {
  text-align: center;
  font-size: 20px;


  .outro__email {
    color: #ffff;
  }

  .outro__email:active {
    color: #ffff;
  } /* Selected link   */

  .outro__email:visited {
    color: #ffff;
  } /* Mouse over link */

  .outro__email:hover {
    color: #D7B003;
  } /* Mouse over link */
}