.header {
  color: #ffff;
  font-size: 80px;
  text-align: center;
  margin: auto;
  border: solid 5px #ffff;
  border-radius: 20px;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .input__header {
    color: #ffff;
    font-size: 50px;
    border: solid 5px #ffff;
    border-radius: 20px;
    margin: 20px auto 25px auto;
    padding: 10px;
    width: 700px;
    text-align: center;
  }

  .input__value {
    background-color: #ffff;
    height: 100px;
    width: 1400px;
    border-radius: 20px;
    border: solid #ffff 5px;
    text-align: justify;
    font-size: 40px;
    color: black;
    padding: 20px;
    overflow-wrap: break-word;
  }
}

.output__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;

  .output__header {
    color: #ffff;
    font-size: 50px;
    border: solid 5px #ffff;
    border-radius: 20px;
    margin: 50px auto 25px auto;
    padding: 10px;
    width: 700px;
    text-align: center;
  }

  .output__value {
    background-color: #ffff;
    height: 200px;
    width: 1400px;
    border-radius: 20px;
    border: solid #ffff 5px;
    font-size: 40px;
    color: black;
    padding: 20px;
    overflow-wrap: break-word;
  }
}

.translate__button {
  margin-top: 100px;
  color: black;
  background-color: #fcd111;
  cursor: pointer;
  font-size: 50px;
  border-radius: 20px;
  border: solid #fcd111;
  height: 180px;
  width: 400px;
}

.translate__button:hover {
  background-color: #d7b003;
}

.outro__signature {
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

.outro__icon {
  text-align: center;
  font-size: 20px;

  .outro__email {
    color: #ffff;
  }

  .outro__email:active {
    color: #ffff;
  } /* Selected link   */

  .outro__email:visited {
    color: #ffff;
  } /* Mouse over link */

  .outro__email:hover {
    color: #d7b003;
  } /* Mouse over link */
}
